@font-face {
    font-family: coolvetica;
    src: url(font/coolvetica.ttf);
}
body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
h1{
   font-family: Arial, Helvetica, sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 60px;
    background-color: grey;
}
ul{
    margin-left: 125px;

}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 60px;
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: black;
    padding: 0 20px;

}
ul li a:hover{
    color: rgb(177, 208, 209);
}
.bob{
    margin-top: 500rem;
    color:black;
}
div{
    background-color:grey;
    width: 900px;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h4{
    padding:5px;
}
section{
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sun{
    cursor: pointer;
}
#mode{
    padding-left: 30%;
    margin: 40px;
    position: absolute;
}
.photos{
    width: 900px;
    background-color: #D3D3D3;
    padding-left: 0%;
}